.WhatsYourSport {
    text-align: center;
    margin: 75px 75px 45px 75px;
}

.ComingSoon {
    text-align: center;
    margin: 75px 375px 0px;
    padding-top: 25px;
    border-top: 2px solid lightgray;
}