

.panelList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border: 15px solid green;
    margin: 0 auto;
}

.panelList li:first-child div {
    font-size: x-large;
    max-width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.panelList li:first-child {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.formControl {
    display: inline;
}

.findCoachButton {
    text-align: center;
}

.findCoachButton button {
    background-color: darkgreen; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px 10px;
    cursor: pointer;
    width: 100%;
  }


.readyToTrain {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding:5px 5px;
    text-align: center;
    margin: 4px 0px 4px 0px;
}
