.homeNavBar {
    list-style-type: none;
}

.homeNavBar li {
    display: inline-block;
    
}

.AULogo {
    text-align: center;
    padding: 8px 20px;
    width: 20rem;
}

.homeNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeNavTab {
    color: black;
    text-align: center;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2rem;
}

.homeNavTab:link {
    color: black;
}

.homeNavTab:visited {
    color: black;
}


.homeNavTab:hover {
    background-color: whitesmoke;
}