.homeNavBar {
    list-style-type: none;
}

.homeNavBar li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.AULogo {
    display: inline;
    text-align: center;
    padding: 8px 20px;
    width: 450px;
}

.homeNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}