.HomeRealResults {
    text-align: center;
    margin: 175px 0px 25px 0px;
    border-top: 2px solid black;
    padding-top: 25px;
}

.HomeRealResultsPanels {
    text-align: center;    
}

.RRHeader {
    font-size: large;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.RRCaption {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}