.paragraphReason {
    max-width: 30rem;

    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.listOfReasons li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.listOfReasons {
    list-style-type: none;
    padding-left: 0px;
}

.LearnMore {
    background-color: darkgreen; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 2rem 0px 0px 0px;
    cursor: pointer;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

.LearnMore:hover {
    background-color: #004d00;  
}