.ThreeReasonsTitle {
    text-align: center;
    margin: 9.3rem 25rem 1.5rem;
    border-bottom: 3px solid lightgray;
    padding-bottom: 1.8rem;
}

.ThreeReasonsPanels {
    text-align: center;    
}

.HIWHeader {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1.25rem;
    padding-bottom: 0.1rem;
    color: black;

}

.HIWCaption {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-top: 0.75rem;
}